<form action="/" method="post">
  <input type="hidden" name="_method" value="put" />
  <input type="hidden" name="selected_id" value="" />
  <ul id="candidates">
    
    <% candidates.each_with_index do |candidate, index| %>
      <li>
        <h3>
          <strong><%= candidate.name %></strong>
        </h3>
        <div class="image candidate-<%= index %> selectable">
          <div data-id="<%= candidate.id %>"></div>
        </div>
        <p class="small">
          Para eliminar <strong><%= candidate.name %></strong> pelo telefone disque 
          <strong><%= candidate.phone %></strong> ou mande um SMS para <strong><%= candidate.sms %></strong>
        </p>
      </li>
    <% end %>

  </ul>
  <div id="vote">
    <input type="submit" class="btn btn-primary" value="Envie seu voto agora" />
  </div>
</form>
<script src="javascripts/poll.js"></script>