<% if flash[:name] %>
  <div id="success-message">
    <p>
      <strong>Parabéns!</strong> Seu voto para <strong><%= flash[:name] %></strong> foi enviado com sucesso.
    </p>
  </div>
<% end %>

<input type="hidden" id="deadline" value="<%= deadline %>" />

<div id="score">
  <% candidates.each_with_index do |candidate, index| %>
    <div class="image candidate-<%= index %>"></div>
    <input type="hidden" id="candidate-<%= index %>-votes" value="<%= candidate.votes %>" />
  <% end %>

  <canvas id="chart" width="270" height="270"></canvas>

  <div id="countdown">
    <div id="countdown-wrapper">
      <p>FALTAM</p>
      <p id="clock">00:00:00</p>
      <p>PARA ENCERRAR A VOTAÇÃO</p>
    </div>
  </div>
</div>
<script src="javascripts/chart.js"></script>
<script src="javascripts/score.js"></script>